<h1>
    Escolha entre X, ou O
</h1>
<table class="table table-striped table-bordered table-hover">
<tbody>

<tr>
    <a href="#" title="X" alt="X" class="btn btn-xs-secondary btn-lg btn-block">
        <i class="fa fa-edit fa-3x" aria-hidden="true"></i> X
        </a>
    <td class="text-center" style="width: 300px">
   
    <a href="#" title="O" alt="O" class="btn btn-xs btn-dark btn-lg btn-block">
    <i class="fa fa-times fa-3x" aria-hidden="true"></i> O
    </a>
    </td>
    </tr>
    </tbody>
